extends layout

block content
  h1 Request
  p Enter your name
  input#name(type="text", name="name")
  p Enter your favorite type of pet
  select#animal
    option Dog
    option Cat
    option Bird
  p
    button#submit submit

  h1 Response
  div#output Waiting...
  
